/mods
/backups
/blueprints
/crash-reports
/journeymap
/xaero
/ldlib
/local
/logs
/mods
/natives-*
/saves
/schematics
/shaderpacks
/resourcepacks
/PCL
.qmenu_opened.marker
hmclversion.cfg
log4j2.xml
options.txt
patchouli_data.json
rhino.local.properties
*_patch*.zip

*.jar
!/**/*/*.jar

*.json
!/**/*/*.json

*.log
/ESM
/.vscode
/aes
/patchouli_books
/quests_structures
/XaeroWaypoints_*
/*-natives
/modernfix
/icon-exports*/*
knownkeys.txt
/keybinding presets

/simplebackups

/gtceu